@{
    ViewBag.Title = "Index";
}
 
<h2>Part 1 : Implement jQuery Datatable in ASP.NET MVC</h2>
<div style="width:90%; margin:0 auto;">
    <table id="myTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Marks</th>
            </tr>
        </thead>
    </table>
</div>
<style>
    tr.even {
    background-color: #F5F5F5 !important;
}
</style>
@* Load datatable css *@
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    "url": "/Student/loaddata",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns" : [
                        { "data": "firstName", "autoWidth": true },
                        { "data": "lastName", "autoWidth": true },
                        { "data": "class", "autoWidth": true },
                        { "data": "subject", "autoWidth": true },
                        { "data": "marks", "autoWidth": true }
                        
                    ]
            });
        });
    </script>
}